@import url('https://reflected.network/assets/fontstack.css')

body
  margin: 0px
  overflow-x: hidden

.pagesection
  height: 100vh
  width: 100vw
  overflow-y: hidden

.actionshot
  background-size: 200%
  background-repeat: no-repeat
  background-position-x: center
  background-position-y: bottom
  width: 100%
  height: 100%

.shadow
  filter: drop-shadow(-20px 20px black)

.launchershot
  background-size: 75%
  background-repeat: no-repeat
  background-position-x: center
  background-position-y: bottom
  transition: background-position-y 0.01s

@keyframes moveup
  0%
    transform: translateY(50vh)
  100%
    transform: translateY(0vh)

@keyframes moveout
  0%
    transform: translateY(0vh)
  100%
    transform: translateY(-100vh)

#titlepostscroll
  animation: moveout 1s ease-in 0s 1 forwards

.centertitle
  color: fffd44
  text-align: center
  height: 100%
  display: flex
  flex-direction: column-reverse
  transform: translateY(100vh)
  animation: moveup 1s ease-out 0s 1 forwards

.robotoslab
  font-family: 'Roboto Slab', sans-serif
  font-size: 10rem

.footer
  width: 100%
  padding-top: 1%
  padding-bottom: 5%
  background-color: #262325

.socials
  display: flex
  justify-content: center

.socials svg
  display: inline
  width: 100px
  height: 100px
  margin-left: 10px
  margin-right: 10px
  fill: #d1cfd0

.ubuntuitalic
  font-family: 'Ubuntu Italic', cursive
  font-size: 3rem

.reflectedfont
  font-family: 'Raider Crusader Straight', serif
  font-size: 10rem
  color: #fffd44

.copyable
  text-decoration: none
  font-weight: 400
  font-size: 2.5rem
  background-color: #191621
  color: #fff
  padding: 3px
  border-radius: 3px
  font-family: Courier New, Courier, monospace
  display: inline-block
  transform: translateY(-13px)

.bedrocklinks
  margin-top: 20px
  font-size: 1.5rem

.bedrocklinks a
  color: aliceblue

.bedrocklinks a:hover
  color: #2fb9f0

#downloadlink
  padding: 5px
  font-size: 3rem !important
  color: #010203
  text-decoration: none
  background-color: #fffd44
  border-bottom: 3px solid #aaffcc

#downloadcontainer
  font-size: 4rem !important
  color: white
  width: 100%
  margin-bottom: 150px

#launchershot
  display: flex
  flex-direction: column-reverse
  text-align: center

.ipspan
  background-color: #fffd44
  border-bottom: 3px solid #aaffcc
  color: #010203
  padding: 5px

.outline
  filter: drop-shadow(-1px -1px black) drop-shadow(-1px 1px black) drop-shadow(1px -1px black) drop-shadow(1px 1px black)

@media screen and (min-width: 1024px)
  .actionshot
    background-size: 75%

  .launchershot
    background-size: 50%
    background-position-x: 30px

  .socials svg
    width: 30px
    height: 30px

  #launchershot
    flex-direction: row-reverse

  #downloadcontainer
    width: 40%
    padding-top: 5%
    padding-right: 50px
    height: 100%
    margin-bottom: 0px
    text-align: left
